<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display text-justify text-sm">
        At COLLAPS we observe the tiny changes in atomic energy levels which are due to the specific properties of the nucleus. Consequently, our work brings together expertise in atomic and nuclear physics, as determination of nuclear properties from these tiny changes requires a good understanding of the atomic system. To observe these tiny changes in atomic energy levels we use extremely narrow linewidth lasers to probe the relevant atomic transitions. Typically, the linewidth of these lasers is in the rage of 1/1 000 000 000 of the energy of the transition. To reach this level of stability for the full range of atomic elements studied requires our third area of expertise - laser systems.      </p>
    </div>
  </div>
</section>
