<section class="bg-white">
    <div class="max-w-4xl mx-auto px-8 py-6">
        <div class="mx-auto max-w-7xl">
          <p class="text-carrot font-display text-justify text-2xl md:text-4xl">
            Useful Links
          </p>
        </div>
      </div>
      <div class="max-w-4xl mx-auto px-8 pb-12">
        <div class="text-gray-800 text-sm gap-6 grid grid-cols-1">
          <ul class="space-y-6 list-none">
            <li>
              <a target="_blank" href="https://cern.sharepoint.com/sites/collaps-sharepoint/_layouts/15/AccessDenied.aspx?Source=https%3A%2F%2Fcern%2Esharepoint%2Ecom%2Fsites%2Fcollaps%2Dsharepoint%2F%5Flayouts%2F15%2Fdoc2%2Easpx%3Fsourcedoc%3D%257B0ceefff9%2Db148%2D48c3%2D89f0%2D2889f098be9b%257D%26action%3Dedit%26wd%3Dtarget%2528COLLAPS%2Eone%257C37333ac0%2D270b%2Dba46%2Db48c%2D0d06ec500d3a%252FCOLLAPS%2520lablog%257C88adc4b0%2D5f8e%2Da04d%2D9482%2D51c313255de7%252F%2529%26wdorigin%3DNavigationUrl&correlation=798f3aa1%2D80ff%2D9500%2D63e7%2De55d9d3bf55e" class="block text-black font-display text-xl md:text-2xl hover:text-carrot">
                <span class="text-carrot">✺ </span>COLLAPS lablog
              </a>
            </li>
            <li>
              <a target="_blank" href="https://be-dep-op-elogbook.web.cern.ch/elogbook/secure/eLogbook.php" class="block text-black font-display text-xl md:text-2xl hover:text-carrot">
                <span class="text-carrot">✺ </span>HRS logbook
              </a>
            </li>
            <li>
              <a target="_blank" href="https://op-webtools.web.cern.ch/vistar/vistars.php?usr=HRS" class="block text-black font-display text-xl md:text-2xl hover:text-carrot">
                <span class="text-carrot">✺ </span>HRS Vistars
              </a>
            </li>
            <li>
              <a target="_blank" href="https://op-webtools.web.cern.ch/vistar/vistars.php?usr=PSB" class="block text-black font-display text-xl md:text-2xl hover:text-carrot">
                <span class="text-carrot">✺ </span>PSB Vistars
              </a>
            </li>
            <li>
              <a target="_blank" href="https://isolde.web.cern.ch" class="block text-black font-display text-xl md:text-2xl hover:text-carrot">
                <span class="text-carrot">✺ </span>ISOLDE website
              </a>
            </li>
          </ul>
        </div>
      </div>      
  </section>
  