<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 mx-auto p-8">
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2655144" class="hover:text-carrot">
            Charge Radii of Zn and Ni Isotopes Measured by Collinear Laser Spectroscopy
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Liang Xie
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            University of Manchester, 2018
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2654252" class="hover:text-carrot">
            The Evolution of Nuclear Structure in Odd-A Zinc Isotopes
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Calvin Wraith    
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            University of Liverpool, 2018
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2666723" class="hover:text-carrot">
            Kollineare Laserspektrosckopie an Calcium und Zinn an TRIGA-LASER und ISOLDE
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Christian Gorges       
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            TU Darmstadt, 2017
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2216274" class="hover:text-carrot">
            Ground state properties near the N = 20 and N = 40 islands of inversion
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Hanne Heylen         
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            KU Leuven, 2016
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2233219" class="hover:text-carrot">
            Collinear Laser Spectroscopy of Manganese Isotopes using the Radio Frequency Quadrupole Cooler and Buncher at ISOLDE
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Carla Babcock
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            University of Liverpool, 2015
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2112051" class="hover:text-carrot">
            Collinear Laser Spectroscopy on exotic Ca isotopes towards new magic numbers N=32 and N=34
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Ronald Fernando Garcia Ruiz
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            KU Leuven, 2015
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2112041" class="hover:text-carrot">
            Structure of potassium isotopes studied with collinear laser spectroscopy
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Jasna Papuga
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            KU Leuven, 2015
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/2243051" class="hover:text-carrot">
            Collinear Laser Spectroscopy of Potassium : Nuclear Charge Radii beyond N = 28
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Kim Kreim
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            Ruprecht-Karls-Universität Heidelberg, 2013
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/1980947" class="hover:text-carrot">
            Laser systems for collinear spectroscopy and the charge radius of <sup>12</sup>Be
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Andreas Krieger
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            Johannes Gutenberg-Universität Mainz, 2012
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="http://cds.cern.ch/record/2702089" class="hover:text-carrot">
            Nuclear structure of Cu isotopes studied with collinear laser spectroscopy
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Pieter Vingerhoets
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            KU Leuven, 2011
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          Construction and Commissioning of a Collinear Laser Spectroscopy Setup at TRIGA Mainz and Laser Spectroscopy of Magnesium Isotopes at ISOLDE (CERN)
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Jörg Krämer
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            Johannes Gutenberg-Universität Mainz, 2010
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="https://cds.cern.ch/record/1476054" class="hover:text-carrot">
            From <sup>27</sup>Mg to <sup>33</sup>Mg: transition to the Island of inversion
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Deyan T. Yordanov
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            KU Leuven, 2007
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          <a target="_blank" href="http://cds.cern.ch/record/2702095" class="hover:text-carrot">
            Precision moments of the <sup>11</sup>Li halo nucleus
          </a>
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Dana Borremans
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            KU Leuven, 2004
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          Nuclear Moments and Differences in Mean Square Charge Radii of Short-Lived Neon Isotopes by Collinear Laser Spectroscopy
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Wolfgang Geithner
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            Johannes Gutenberg-Universität Mainz, 2002
          </p>
        </div>
      </article>
      <article class="w-full">
        <h3 class="text-white font-display text-xl md:text-2xl">
          Messung der Kernquadrupolmomente neutronenreicher Natriumisotope
        </h3>
        <div class="content mt-3 text-eagle text-sm md:text-base">
          <p>
            Matthias Keim
          </p>
          <p class="mt-3 text-sm md:text-base text-[#ed772f]">
            Johannes Gutenberg-Universität Mainz, 1996
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
