@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */

@font-face {
    font-family: "Basement";
    src: url("/collaps-website/fonts/BSBlack.eot");
    src: url("/collaps-website/fonts/BSBlack.eot?#iefix")
            format("embedded-opentype"),
        url("/collaps-website/fonts/BSBlack.woff2") format("woff2"),
        url("/collaps-website/fonts/BSBlack.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    descent-override: 0%;
}

@font-face {
    font-family: "Roboto";
    src: url("/collaps-website/fonts/Roboto-Light.eot");
    src: url("/collaps-website/fonts/BSBlack.eot?#iefix")
            format("embedded-opentype"),
        url("/collaps-website/fonts/Roboto-Light.woff2") format("woff2"),
        url("/collaps-website/fonts/Roboto-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    descent-override: 0%;
}

/*.splide__pagination {
  visibility: hidden;
}*/
