---
import BaseLayout from "@/layouts/BaseLayout.astro";
import InstitutesList from "@/components/team/InstitutesList.astro";
---


<BaseLayout>
  <section class="bg-white">
    <div class="max-w-4xl mx-auto pl-8 py-10">
        <h1 class="text-black font-display text-4xl lg:text-6xl">
          Institutes
        </h1>
    </div>
  </section>
  <InstitutesList/>
</BaseLayout>
