---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ArticlesList from "@/components/articles/ArticlesList.astro";
---


<BaseLayout>
  <section class=" bg-white  ">
    <div class="max-w-4xl mx-auto px-8 p-12">
      <div class="mx-auto">
        <div class="mx-auto gradient-grid px-8">
          <h1 class="text-blue-950 font-display text-4xl lg:text-6xl">
            Articles
          </h1>
        </div>
      </div>
    </div>
  </section>
  <ArticlesList />
</BaseLayout>
