---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en" class="selection:bg-amber-500 selection:text-neutral-50">
  <head>
    <BaseHead />
  </head>
  <body class="mx-auto bg-neutral-50 2xl:max-w-7xl">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
