---
const { text, className = "" } = Astro.props;
---

<section class="border-blue-950/20 bg-white border-b ">
  <div class="mx-auto border-blue-950/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class={`text-blue-950 font-display text-justify ${className}`}>
        {text}
      </p>
    </div>
  </div>
</section>
