---
const { text } = Astro.props;
---

<section class=" bg-white  ">
  <div class="mx-auto border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-carrot font-display text-justify text-3xl md:text-6xl">
        {text}
      </p>
    </div>
  </div>
</section>
