<footer class="bg-accent-500">
  <div class="mx-auto bg-blue-950 border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-neutral-50 text-center items-center mx-auto">
        <p class="font-base text-neutral-50 sm:text-l lg:text-2xl">© CERN 2024. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
