---
import { Image } from 'astro:assets';

const { title, image, alt, className = "" } = Astro.props;
---

<section class="bg-white">
  <div class="max-w-4xl mx-auto p-8 pt-12">
      <h1 class="text-black font-display text-4xl lg:text-6xl pb-8">
        {title}
      </h1>
    <Image src={image} alt={alt} class={`${className} w-full h-auto`} />
  </div>
</section>


