<section class="mx-auto 2xl:max-w-7xl bg-blue-950 justify-center lg:z-50 w-full">
  <div class="mx-auto bg-blue-950 justify-center w-full">
    <div class="mx-auto max-w-6xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full py-3">
      <div class="text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-6">
        <a
          href="/collaps-website"
          class="text-white sm:text-xl md:text-2xl lg:text-3xl font-display inline-flex items-center md:px-6 md:text-center pt-3 pb-4"
        >COLLAPS
        </a>
        <a
          href="/collaps-website/publications"
          class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-base"
          >Publications
        </a>
        <a
          href="#"
          class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-base"
          >News
        </a>
        <a
          href="/collaps-website/team"
          class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto lg:px-8 py-2 text-white text-center text-xs lg:text-base"
          >Team
        </a>
        <a
          href="/collaps-website/contact-us"
          class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-base"
          >Contact us
        </a>
        <a
          href="#"
          class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-base"
          >Links
        </a>
      </div>
    </div>
  </div>
</section>
