<section class="mx-auto 2xl:max-w-7xl bg-blue-950 justify-center lg:z-50 w-full">
  <div class="mx-auto bg-blue-950 justify-center w-full">
    <div class="mx-auto max-w-6xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full py-3">
      <div class="text-center items-center w-full flex flex-col md:flex-row justify-center md:px-0 sm:px-6 space-x-4">
        <a
          href="/collaps-website"
          class="text-white sm:text-xl md:text-2xl lg:text-3xl font-display inline-flex items-center md:px-6 md:text-center pt-3 pb-4 pl-4"
        >COLLAPS
        </a>
        <a
          href="/collaps-website/experiment"
          class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto lg:px-8 py-2 text-white text-center text-xs lg:text-sm">
          Technique
        </a>
        <div class="relative group">
          <a href="#" class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-sm inline-flex items-center">
            Publications
          </a>
          <!-- Dropdown menu -->
          <div class="absolute hidden group-hover:block bg-white divide-y divide-gray-100 shadow w-44 z-10">
            <ul class="py-2 text-sm text-black">
              <li>
                <a href="/collaps-website/publications/articles" class="block px-4 py-2 hover:bg-gray-100">Articles</a>
              </li>
              <li>
                <a href="/collaps-website/publications/phd-thesis" class="block px-4 py-2 hover:bg-gray-100">PhD Thesis</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="relative group">
          <a href="#" class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-sm inline-flex items-center">
            Links
          </a>
          <!-- Dropdown menu -->
          <div class="absolute hidden group-hover:block bg-white divide-y divide-gray-100 shadow w-44 z-10">
            <ul class="py-2 text-sm text-black">
              <li>
                <a target="_blank" href="https://cern.sharepoint.com/sites/collaps-sharepoint/_layouts/15/AccessDenied.aspx?Source=https%3A%2F%2Fcern%2Esharepoint%2Ecom%2Fsites%2Fcollaps%2Dsharepoint%2F%5Flayouts%2F15%2Fdoc2%2Easpx%3Fsourcedoc%3D%257B0ceefff9%2Db148%2D48c3%2D89f0%2D2889f098be9b%257D%26action%3Dedit%26wd%3Dtarget%2528COLLAPS%2Eone%257C37333ac0%2D270b%2Dba46%2Db48c%2D0d06ec500d3a%252FCOLLAPS%2520lablog%257C88adc4b0%2D5f8e%2Da04d%2D9482%2D51c313255de7%252F%2529%26wdorigin%3DNavigationUrl&correlation=798f3aa1%2D80ff%2D9500%2D63e7%2De55d9d3bf55e" class="block px-4 py-2 hover:bg-gray-100">
                  COLLAPS Lablog
                </a>
              </li>
              <li>
                <a target="_blank" href="https://auth.cern.ch/auth/realms/cern/protocol/openid-connect/auth?client_id=webdfs-be-dep-op-elogbook&redirect_uri=https%3A%2F%2Fbe-dep-op-elogbook.web.cern.ch%2Fauthorization-code%2Fcallback&response_type=code&scope=openid%20profile%20email&code_challenge=tgvX7wVvGrrz6qvYUHL5vR8NhJSVqyGmgSXFS85MPdY&code_challenge_method=S256&state=OpenIdConnect.AuthenticationProperties%3DUeTXS8dcmtzOfa7FLOidhZ2n_lre8eRKbDDhifJEpQ_R0V8S5TmzfR-X0XzTg9kHHXyJIVida1k6_q2UijPtUuYNd12yLSyO6OdT5XdfvafrtYSczlOceplX1fuojLpQBSmrfUu-5BZwohPlFbrzLljqHwlPaJsbZ9Lm9iewnrO8mkjKdBzFco7FIZTo2kbz-X_Kxu4KG27jtqsc-UmO8UZFcoANYd_y-vbb_l4yi7FPXABz3meALitAu8g8YyemekzSm_f1HUSSapbTvRl7QOV_lUAlBWPC6ikFW_obsN7LgHxxdXanOUcZC6NUbPRMYS1V2pRK0IZ-FvFyaVx_RQxc3XF1aiu5yjcmmxMmSfnqX1gL70WQStMM3rnLRDP942ZRd3RURh6SOyn8Hn6tuQ&response_mode=form_post&nonce=638587159203368111.OGJmOWUzNzMtZWFkMC00M2ExLWE3NzUtYWE1Y2RlODI5ZTU5YzZiOTZlNDQtY2QyYi00ZGEzLWE4OWItM2RhN2ExNTJkZjlj&x-client-SKU=ID_NET461&x-client-ver=5.3.0.0" class="block px-4 py-2 hover:bg-gray-100">
                  HRS logbook
                </a>
              </li>
              <li>
                <a target="_blank" href="https://op-webtools.web.cern.ch/vistar/" class="block px-4 py-2 hover:bg-gray-100">
                  HRS Vistars
                </a>
              </li>
              <li>
                <a target="_blank" href="https://op-webtools.web.cern.ch/vistar/" class="block px-4 py-2 hover:bg-gray-100">
                  PSB Vistars
                </a>
              </li>
              <li>
                <a target="_blank" href="https://isolde.web.cern.ch/" class="block px-4 py-2 hover:bg-gray-100">ISOLDE website</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="relative group">
          <a href="#" class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-sm inline-flex items-center">
            Collaborators
          </a>
          <!-- Dropdown menu -->
          <div class="absolute hidden group-hover:block bg-white divide-y divide-gray-100 shadow w-44 z-10">
            <ul class="py-2 text-sm text-black">
              <li>
                <a href="/collaps-website/local-team" class="block px-4 py-2 hover:bg-gray-100">Local Team</a>
              </li>
              <li>
                <a href="/collaps-website/collaborators" class="block px-4 py-2 hover:bg-gray-100">Collaborators</a>
              </li>
              <li>
                <a href="/collaps-website/institutes" class="block px-4 py-2 hover:bg-gray-100">Institutes</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="relative group">
          <a href="#" class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto px-8 py-2 text-white text-center text-xs lg:text-sm inline-flex items-center">
            Projects
          </a>
          <!-- Dropdown menu -->
          <div class="absolute hidden group-hover:block bg-white divide-y divide-gray-100 shadow w-44 z-10">
            <ul class="py-2 text-sm text-black">
              <li>
                <a target="_blank" href="#" class="block px-4 py-2 hover:bg-gray-100">LIAF</a>
              </li>
              <li>
                <a target="_blank" href="#" class="block px-4 py-2 hover:bg-gray-100">ERC</a>
              </li>
            </ul>
          </div>
        </div>
        <a
          href="/collaps-website/hiring"
          class="w-full font-sans font-bold uppercase hover:text-carrot lg:ml-auto lg:w-auto lg:px-8 py-2 text-white text-center text-xs lg:text-sm">
          Hiring
        </a>
      </div>
    </div>
  </div>
</section>